body{
    background-color: rgb(244, 24, 68);
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}
header{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: rgb(255, 0, 93);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
section{
    float: left;
    width: 70%;
    margin-bottom: 50px;
}
aside{
    float: right;
    width: 25%;
}
footer{
    clear: both;
    background-color: rgb(255, 0, 93);
    padding: 50px 0;
    text-align: center;

}