ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
li+li {
    margin-top: 1em;
}
button {
    margin: 20px 0 0 124px;
}
