body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

/*Importing fonts using CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');  
body{
    font-family: 'Roboto', sans-serif;
}

/* Down;oaded fonts in CSS.*/
@font-face {
    font-family: my-cool-font;
    src: url(../fonts/the-font-file.woff);
  }
  
  h1 {
    font-family: my-cool-font, sans-serif;
  }