.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a ."
      ". a a .";
    background-color: azure;
  }
  .item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
    border: 2px solid blue;
  }
  